/* Header */
.header .header-top {
    padding-top: 15px;
    padding-bottom: 10px;
}

/* header-top */
.header .header-top .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* phần logo */
.header .header-top .inner-logo img {
    width: 125px;
    height: 50px;
}

/* end phần logo */


/* phần tìm kiếm */
.header .header-top .inner-search {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-text1);
    border-radius: 4px;
    padding: 5px;
    width: 600px;
    height: 34px;
    margin-left: -100px;
}

.header .header-top .inner-search input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    font-size: 14px;
    color: var(--color-text1);
}

.header .header-top .inner-search a {
    text-decoration: none;
    color: var(--color-text2);
    padding: 5px;
    font-size: 18px;
}

.header .header-top .inner-search:hover {
    border: 1px solid var(--color-one);
}

.header .header-top .inner-search a:hover i {
    color: var(--color-one);
}

/* end phần tìm kiếm */


/* phần icon */
.header .header-top .inner-icon ul {
    display: flex;
}

.header .header-top .inner-icon ul i {
    color: var(--color-text2);
}

.header .header-top .inner-icon ul li:nth-last-child(1) {
    padding-left: 15px;
}

.header .header-top .inner-icon ul i:hover {
    color: var(--color-one);
}

/* end phần icon */
/* end header-top */


/* header-menu */
.header .header-menu {
    background-color: var(--color-one);
    /* padding: 15px 0; */
}

.header .header-menu .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-menu .inner-menu ul {
    display: flex;
}

.header .header-menu .inner-menu ul li a {
    font-weight: bold;
    font-size: 16px;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    display: flex;
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.header .header-menu .inner-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.header .header-menu .inner-menu ul .news a {
    position: relative;
}

.header .header-menu .inner-menu ul .news a::after {
    content: '18';
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: red;
    color: white;
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}

.header .header-menu .inner-tag ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.header .header-menu .inner-tag ul li {
    list-style: none;
}

.header .header-menu .inner-tag ul li a {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.header .header-menu .inner-menu ul li a:nth-child(1) {
    padding-left: 0;
}

.header .header-menu .inner-tag ul li a:hover {
    background-color: var(--color-active);
    color: var(--color-one);
}

.header .header-menu .inner-icon i {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding-left: 20px;
}

.header .header-menu .inner-menu .active {
    background-color: var(--color-active);
}

.header .header-menu .inner-tag {
    margin-left: -180px;
}

/* end header-menu */
/* End Header */



/* Content */
.content {
    padding-top: 15px;
}


.content .inner-wrap-content {
    display: flex;
    justify-content: space-between;
    /* Khoảng trắng giữa left và right */
    gap: 1.5%;
}

.content .inner-box .inner-title {
    font-weight: 500;
    font-size: 18px;
}


/* content-left */
.content .content-left {
    /* background-color: red; */
    width: 59%;
}

.content .content-left .inner-image:hover img {
    transform: scale(1.1);
    transition: 0.6;
    /* hiệu ứng phóng to chậm lại */
    transition-duration: 0.8s;
}

.content .content-left .inner-image:hover {
    overflow: hidden;
    border-radius: 4px;
}

.content .content-left .inner-box:hover .inner-content h2,
.content .content-left .inner-box:hover .inner-content h3 {
    color: var(--color-one);
    cursor: pointer;
}

.content .content-left .inner-content .inner-link .item {
    margin-right: 15px;
}

.content .content-left .inner-content .inner-link {
    display: flex;
    align-items: center;
}

.content .content-left .inner-link img {
    height: 20px;
}

.content .content-left .inner-box .inner-image img {
    width: 100%;
    /* giúp ảnh co giãn theo đúng tỉ lệ width height đã set để không bị vỡ */
    object-fit: cover;
}

.content .content-left .inner-clock {
    visibility: hidden;
}

.content .content-left .inner-box:hover .inner-image {
    cursor: pointer;
}

.content .content-left .inner-content .inner-link .item {
    color: var(--color-text2);
}

.content .content-left .inner-box:hover .inner-clock {
    visibility: visible;
}

.content .content-left .inner-wrap .inner-box .inner-link a:hover {
    color: var(--color-one);
    cursor: pointer;
}


/* section-one */
.content .content-left .section-one .inner-image {
    margin-bottom: 10px;

}

.content .content-left .section-one .inner-image img {
    aspect-ratio: 9/5;
}

.content .content-left .section-one .inner-content .inner-title {
    font-size: 33px;
    font-weight: 500;
}

.content .content-left .section-one .inner-content .inner-link {
    margin-top: -27px;
}


.content .content-left .section-one .inner-wrap .inner-link img:hover {
    cursor: pointer;
}

.content .content-left .section-one .inner-link img {
    height: 27px;
}

/* end section-one */

/* section-two */
.content .content-left .section-two {
    margin-top: 10px;
}

.content .content-left .section-two .inner-wrap {
    display: flex;
    /* gap: 2%; */
    justify-content: space-between;
}


.content .content-left .section-two .inner-box {
    width: calc(100%/3 - 10px);
}


/* end section-two */

/* section-three */
.content .content-left .section-three {
    margin-top: 20px;
}

.content .content-left .section-three .inner-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .content-left .section-three .inner-box .inner-image {
    width: 25%;
    margin-right: 2%;
}

.content .content-left .section-three .inner-box .inner-content {
    width: 73%;
}

.content .content-left .section-three .inner-box .inner-image img {
    width: 100%;
    aspect-ratio: 5/3;
}

/* end section-three */


/* section-four */
.content .content-left .section-four .inner-content-section {
    font-size: 32px;
    margin-bottom: 15px;
    color: #db562b;
}

.content .content-left .section-four .inner-content-section:hover {
    cursor: pointer;
    color: var(--color-one);
}

.content .content-left .section-four .inner-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .content-left .section-four .inner-box .inner-image {
    width: 25%;
    margin-right: 2%;
}

.content .content-left .section-four .inner-box .inner-content {
    width: 73%;
}

.content .content-left .section-four .inner-box .inner-image img {
    width: 100%;
    aspect-ratio: 5/3;
}

.content .content-left .section-four .inner-other {
    position: absolute;
    font-size: 18px;
    color: var(--color-one);
    bottom: 0px;
    left: 170px;
}

.content .content-left .section-four .outer-box {
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.content .content-left .section-four .outer-box .inner-content {
    opacity: 0.2;
}

.content .content-left .section-four .outer-box .inner-image img {
    opacity: 0.2;
}


.content .content-left .section-four .outer-box .inner-link img {
    opacity: 0.7;
}

.content .content-left .section-four .outer-box .inner-other a {
    color: var(--color-one);
}

.content .content-left .section-four .outer-box .inner-other a:hover {
    cursor: pointer;
}



/* end section-four */

/* section-five */
.content .content-left .section-five {
    margin-top: 20px;
}

.content .content-left .section-five .inner-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.content .content-left .section-five .inner-box .inner-image {
    width: 25%;
    margin-right: 2%;
}

.content .content-left .section-five .inner-box .inner-content {
    width: 73%;
}

.content .content-left .section-five .inner-box .inner-image img {
    width: 100%;
    aspect-ratio: 5/3;
}

/* end section-five */

/* content-right */
.content .content-right {
    width: 39.5%;
}

.content .content-right .inner-image:hover img {
    transform: scale(1.1);
    transition: 0.6;
    /* hiệu ứng phóng to chậm lại */
    transition-duration: 0.8s;
}

.content .content-right .inner-image:hover {
    overflow: hidden;
    border-radius: 4px;
}

.content .content-right .inner-box:hover .inner-content h2,
.content .content-right .inner-box:hover .inner-content h3 {
    color: var(--color-one);
    cursor: pointer;
}

.content .content-right .inner-content .inner-link .item {
    margin-right: 15px;
}

.content .content-right .inner-content .inner-link {
    display: flex;
    align-items: center;
}

.content .content-right .inner-link img {
    height: 20px;
}

.content .content-right .inner-box .inner-image img {
    /* giúp ảnh co giãn theo đúng tỉ lệ width height đã set để không bị vỡ */
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.content .content-right .inner-clock {
    visibility: hidden;
}

.content .content-right .inner-box:hover .inner-image {
    cursor: pointer;
}

.content .content-right .inner-content .inner-link .item {
    color: var(--color-text2);
}

.content .content-right .inner-box:hover .inner-clock {
    visibility: visible;
}

.content .content-right .inner-wrap .inner-box .inner-link a:hover {
    color: var(--color-one);
    cursor: pointer;
}

.content .content-right .inner-box {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

/* section-one */
.content .content-right .section-one .inner-box .inner-image {
    width: 15%;
    margin-right: 2%;
}

.content .content-right .section-one .inner-box .inner-content {
    width: 83%;
}

.content .content-right .section-one .inner-box {
    padding-top: 10px;
}

/* end section-one */
/* section-two */
.content .content-right .section-two {
    margin-top: 25px;
}


.content .content-right .section-two .inner-wrap {
    background-image: url("/assets/images/im41.png");
    height: 95px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 15px;
    border: 1px solid rgb(247, 239, 239);

}

.content .content-right .section-two .inner-title {
    font-size: 14px;
}


.content .content-right .section-two .slider-container {
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

.content .content-right .section-two .inner-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: slide 15s linear infinite;
    white-space: nowrap;
}

.content .content-right .section-two .inner-image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: #fff;
    height: 48px;
    margin-left: 30px;
    margin-top: -5px;
}

.content .content-right .section-two .inner-image img {
    max-width: 100px;
    max-height: 80px;
    object-fit: contain;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.content .content-right .section-two .inner-image:hover img {
    transform: none;
    transition: none;
}



/* end section-two */

/* section-three */
.content .content-right .section-three {
    margin-top: 15px;
}

.content .content-right .section-three .inner-wrap {
    background-color: var(--color-text1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.content .content-right .section-three .inner-wrap .inner-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content .content-right .section-three .inner-wrap .inner-image img {
    width: 100%;
    aspect-ratio: 10/9;
}

.content .content-right .section-three .inner-wrap .inner-image img:hover {
    transform: none;
    transition: none;
}

/* end section-three */


/* section-four */
.content .content-right .section-four {
    margin-top: 15px;
}

.content .content-right .section-four .inner-wrap {
    background-color: var(--color-text1);
    padding: 15px 30px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.content .content-right .section-four .inner-author {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}

.content .content-right .section-four .inner-author .inner-logo {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-weight: 900;
    font-size: 36px;
}

.content .content-right .section-four .inner-author .inner-title {
    font-weight: 500;
    font-size: 24px;
}

.content .content-right .section-four .inner-author .inner-logo img {
    width: 100%;
    aspect-ratio: 1/1;
}

.content .content-right .section-four .inner-content .inner-other {
    display: flex;
    flex-wrap: wrap;
}

.content .content-right .section-four .inner-content {
    border-top: 3px solid #DA211C;
    border-right: 1px solid #c5c4c4;
    border-left: 1px solid #c5c4c4;
    border-bottom: 1px solid #c5c4c4;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.content .content-right .section-four .inner-content .inner-box {
    border-bottom: 1px dashed #c5c4c4;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.content .content-right .section-four .inner-content .inner-box .inner-image {
    width: 42%;
    margin-right: 3%;
}

.content .content-right .section-four .inner-content .inner-box .inner-image img {
    width: 100%;
    aspect-ratio: 7/4;
}

.content .content-right .section-four .inner-content .inner-box .inner-desc {
    width: 55%;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.content .content-right .section-four .inner-content .inner-other a {
    padding-bottom: 10px;
    position: relative;
    padding-left: 10px;
}

.content .content-right .section-four .inner-content .inner-other a::before {
    content: '■';
    color: rgb(185, 32, 32);
    font-size: 8px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(3px);
}

/* end section-four */



/* section-five */
.content .content-right .section-five {
    background-image: url("/assets/images/im50.png");
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 18px;
}

.content .content-right .section-five .inner-author {
    display: flex;
    font-size: 24px;
    color: rgb(219 86 43/1);
}

.content .content-right .section-five .inner-author .inner-logo {
    margin-right: 10px;
}

.content .content-right .section-five .inner-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-text1);
    padding-left: 15px;
    padding-right: 15px;
    height: 36px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.content .content-right .section-five .inner-box .inner-image {
    width: 15%;
    margin-right: 2%;
}

.content .content-right .section-five .inner-box .inner-content {
    width: 83%;
}

.content .content-right .section-five .inner-box {
    padding-top: 10px;
}



/* end section-five */
/* end content-right */
/* End Content */