@using WebBanHang.Models
@using WebBanHang.Helpers;
@inject WebDbContext _context
@using Newtonsoft.Json
@using WebBanHang.Helpers;

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    int? userId = SessionHelpers.GetUserId(Context);
    AppUser appUser = null;
    if (userId != null)
    {
        appUser = _context.AppUsers.FirstOrDefault(x => x.Id == userId);
    }
    var Message = TempData["Message"] as string;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trang quản trị viên</title>
    <link rel="stylesheet" href="../../MyLib1/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../MyLib1/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../MyLib1/assets/css/style.css">
    <link rel="shortcut icon" href="../../MyLib1/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="row">
            @if (!string.IsNullOrEmpty(Message))
            {
                <h4 class="alert alert-danger">
                    @Message
                </h4>
            }
            <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo" href="../../index.html"><img src="../../MyLib1/assets/images/logo.svg" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="../../MyLib1/assets/images/logo-mini.svg" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-stretch" style="padding-right:135px;">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">

                            @if (appUser != null)
                            {
                                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    Xin chào @appUser.Name
                                </a>
                            }
                            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                                    <i class="mdi mdi-logout me-2 text-primary">Đăng xuất</i>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:../../partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                            <a href="#" class="nav-link">
                                <div class="nav-profile-text d-flex flex-column">
                                    @if (appUser != null)
                                    {
                                        <span class="font-weight-bold mb-2">@appUser.Name</span>
                                    }
                                </div>
                                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="AppUsers" asp-action="Index">
                                <span class="menu-title">Quản lý người dùng</span>
                                <i class="mdi mdi-home menu-icon"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                                <span class="menu-title">Quản lý sản phẩm</span>
                                <i class="menu-arrow"></i>
                                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Danh sách sản phẩm</a></li>
                                    <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Danh mục sản phẩm</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        @RenderBody()
                    </div>

                    <footer class="footer">
                        <div class="container-fluid d-flex justify-content-between">
                            <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Thi thực hành</span>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="../../MyLib1/assets/vendors/js/vendor.bundle.base.js"></script>

    <script src="../../MyLib1/assets/js/off-canvas.js"></script>
    <script src="../../MyLib1/assets/js/hoverable-collapse.js"></script>
    <script src="../../MyLib1/assets/js/misc.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>