@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}


@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            @await Html.PartialAsync("PartialSanPham", item);
        }


    </div>
    <div class="product__pagination">
        @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page ,maloai=ViewBag.maloai}))
    </div>

</div>
